.card {
  width: 100px;
  height: 150px;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 206, 206);
  border: 1px solid black;
  backface-visibility: hidden;
  position: relative;

}

.card.flipped .card-content {
  background-color: lightgreen;
}

.card-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
